

<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post" enctype="multipart/form-data">
                <div class="card mt-4">
                    <div class="card-header">
                        Productt
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input class="form-control" type="text" name="Name" id="productName" placeholder="Product Name" />
                        </div>

                        <div class="form-group">
                            <label for="price">Product Price</label>
                            <input class="form-control" type="number" name="Price" step=".01" id="price" placeholder="Price" />
                        </div>

                        <div class="form-group">
                            <label for="Quantity">Product Quantity</label>
                            <input class="form-control" type="number" name="Quantity" step=".01" id="Quantity" placeholder="Quantity" />
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input class="form-control" type="text" name="Description" id="Description" placeholder="Description" />
                        </div>

                        <div class="form-group">
                            <label for="FromAuthor">FromAuthor</label>
                            <input class="form-control" type="text" name="FromAuthor" id="FromAuthor" placeholder="FromAuthor" />
                        </div>

                        <div class="form-group">
                            <label for="AdditionalInformation">AdditionalInformation</label>
                            <input class="form-control" type="text" name="AdditionalInformation" id="AdditionalInformation" placeholder="AdditionalInformation" />
                        </div>

                        <div class="form-group">
                            <label for="ProductPicture">Upload Images</label>
                            <input type="file" name="myPhoto" multiple id="ProductPicture" />
                        </div>
                    </div>

                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    
    $("#ProductPicture").change(function(){
        let pictures =this.files;
        let picsData =new FormData();

        for(let i =0; i<pictures.length; i++)
        {
            picsData.append('Picture',pictures[i])
        }

        $.ajax({
            url:"/Admin/Picture/Upload",
            type:"POST",
            data:picsData,
            processData:false,
            contentType:false
        }).done(function(res){
            console.log(res)
        })
    })

</script>